
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#heroCarousel {
  height: 100vh; 
  position: relative;
}

.carousel-item img {
  height: 100vh; 
  object-fit: cover; 
  filter: brightness(50%);
}

.carousel-caption {
   bottom: -5%; 
  text-align: center;
}

.carousel-caption h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.btn-warning {
  background-color: #f39c12;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 150px;
}

.btn-warning:hover {
  background-color: #e67e22;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); 
}
