
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./searchpg.component.css">
</head>
<body>
<app-navbar></app-navbar>
<div class="container text-center mt-5">
    <h2 class="mb-4">Find Recipes by Ingredients</h2>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form (ngSubmit)="onSearch()" #recipeForm="ngForm">
                <div class="input-group">
                    <input type="text" name="ingredients" class="form-control" [(ngModel)]="ingredients" placeholder="Enter ingredients" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4" *ngIf="recipes.length > 0">
        <h3 class="mb-3">Search Results</h3>
        <div class="col-md-4 mb-3 " *ngFor="let recipe of recipes">
            <div class="card shadow-sm">
                <img [src]="recipe.image" class="card-img-top" [alt]="recipe.title">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">Used Ingredients: {{ recipe.usedIngredientCount }}</p>
                    <p class="card-text">Missed Ingredients: {{ recipe.missedIngredientCount }}</p>
                    <a (click)="getRecipesdetail(recipe.id)" class="btn">View Recipe</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noResults" class="alert alert-danger mt-4">
        No recipes found!
    </div>
</div>
<app-recipe-modal #recipeModal [recipe]="selectedRecipe"></app-recipe-modal>
</body>
</html>
